---
import { Header, Button } from '@littlesticks/odyssey-theme-components';
import Layout from './Base.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';
import Logo from '../components/Logo.astro';
import settings from '../config/settings';
import { footerLists, footerSocials } from '../config/footer';
import Footer from '../components/sections/Footer.astro';

export interface Props {
	seo?: BaseHeadProps;
}

import { nav } from '../config/nav.js';

const { seo } = Astro.props as Props;
---

<Layout {seo}>
	<div
		class="fixed h-screen w-screen bg-white z-50  top-0 bottom-0 flex items-center justify-center incio"
	>
		<video src="/charge.webm" muted loop autoplay playsinline></video>
	</div>
	<Header rightMenu navData={nav} slot="header">
		<Button slot="action-item" class="z-0" href="https://wa.link/udn915"
			>Contactanos</Button
		>
	</Header>

	<div>
		<slot />
	</div>
	<!-- <Footer
		slot="footer"
		background="var(--theme-surface-1)"
		color="var(--theme-on-surface-1)"
	>
		<Logo slot="logo" />
	</Footer> -->
</Layout>
<script>
	import gsap from 'gsap';
	import { Power1 } from 'gsap';
	gsap && gsap.to('.incio', { opacity: 0, delay: 2 });
	gsap && gsap.to('.incio', { display: 'none', delay: 2.5, ease: Power1.easeInOut });
</script>
